
  div{
    margin-bottom: 0px;
  }

  body{
    background-color: #FFFFFF;
  }

  .col-sm-4{
    padding: 2px;
  }
  .container{
    /*margin-left: 0px;
    margin-right: 0px;*/
  }

  .thumbnail{
    border: none;
    padding: 0;
    margin: 0;
  }

  hr {
      border: 0;
      height: 1px;
      max-width: 1500px;
      width: 70%;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
  }

  h1{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 30px;
    color: black;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 0PX;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3),
                0px 8px 13px rgba(0, 0, 0, 0.1),
                0px 18px 23px rgba(0, 0, 0, 0.1);
  }
  h2{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 16px;
    /*color: gray;*/
    line-height: .3;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #292929;
  }
  h3{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 16px;
    /*color: gray;*/
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
  }
  h4{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 16px;
    /*color: gray;*/
    line-height: .3;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;

  }

  strong{
    color: black;
  }

  .description{
    text-align: left;
    font-size: 17px;
    color: black;
    padding-top: 5px;
    padding-left: 5px;
  }
  p{
    font-family: 'Raleway', sans-serif;
    text-align: left;
    margin-left: 0px;
    font-size: 16px;
    color: black;

  }
  li{
    font-family: 'Raleway', sans-serif;
    text-align: left;
    margin-left: 0px;
    font-size: 16px;
    color: black;

  }


    .box-one{
      border-style: solid;
      opacity: 40%;
      border-top-color: transparent;
      border-right-color: transparent;
      border-left-color: transparent;
      border-bottom-color: gray;
      padding-bottom: 0px;
    }
    .box-two{
      border-style: hidden;
      padding-top: 0px;
    }
    .name-box{
      border-style: hidden;
      padding-top: 0px;
      text-align: center;
      background-color: #cc0000;
    }
    .resume-box{
      border-style: hidden;
      padding-top: 0px;
      text-align: center;
    }
    .video-box{
      border-style: hidden;
      text-align: center;
    }
    #show_mobile_menu{
      border-style: none;
      text-align: center;
    }


    .mobilebutton{
      /*background-color: #a5a5a5;*/
      background-color: #cc0000;
      border: none;
      color: black;
      padding: 20px 5px;
      text-align: center;
      text-decoration: none;
      display:block;
      margin: 0px 0px;
      cursor: pointer;
    }
    .mobilebutton:hover{
      /*background-color: #d60606;*/
      color: #d60606;
      text-decoration: none;
      background-color: #000000
    }
    .button{
      background-color: #000000;
      border: none;
      color: white;
      padding: 13px 28px;
      text-align: center;
      text-decoration: none;
      display:inline-block;
      margin: 1px 1px;
      cursor: pointer;
    }
    .button:hover{
      /*background-color: #d60606;*/
      color: #d60606;
      text-decoration: none;
      background-color: #000000
    }
    .button2{

      border: none;
      color: black;
      padding: 0px 0px;
      text-align: center;
      text-decoration: none;
      display:inline-block;
      margin: 0px 0px;
      cursor: pointer;
    }
    .button2:hover{

      text-decoration: none;
      /*color: #d60606;*/
      color: #d60606;
    }

    .footer{
      text-align: center;
      position: fixed;
      left: auto;
      height: 45px;
      bottom: 0px;
      margin: 0px;
    }

    @media only screen and (max-width: 767px) {
      .hide-on-mobile{

      }

    }

    #desktopmenu{
      border-style: none;
    }

    .menu_button{
      font-family: 'Josefin Sans', sans-serif;
      color: #898989;
      text-align: center;
      font-size: 20px;
      background-color: #292929;
      font-style: bold;
      padding-top: 6px;
      padding-bottom: 4px;
    }
    .menu_button:hover{
      background-color: #292929;
    }

    #mobilemenu{
      border-style: none;
      background-color: #e5e5e5;
      padding: 0px;
    }

    .navbar-header{
      background-color: #292929;
      color: #898989;
    }


    /*function ShowSignUp(){
    $('#buttonbox').hide();
    $('#divSignUp').show();
}*/
